
//Unit Measurements
$unit-width-quarter: 1.38vw;
$unit-width-icon: 2.25vw;
$unit-width-half: 2.78vw;
$unit-width-1: 5.56vw;
$unit-width-2: 11.12vw;
$unit-width-3: 16.68vw;
$unit-width-4: 22.24vw;
$unit-width-5: 27.8vw;
$unit-width-6: 33.36vw;
$unit-width-7: 38.92vw;
$unit-width-8: 44.48vw;
$unit-width-9: 50.04vw;

//Colours
$platinum: #D0D9D4;
$eggshell:  #F2EFDF;
$battleship-grey: #939995;
$walnut-brown: #59554C;
$black: #090909;


