@use '../../../app/variables' as *;

.navbar {
    position: absolute;
    height: $unit-width-1;
    padding: 0 $unit-width-1;
    width: 100vw;
    background-color: $eggshell;
    @include pixelBackground;
    display: flex; 
    justify-content: space-between;
    border-bottom: 4px solid $walnut-brown;

    .buttonContainer {
        width: $unit-width-8;
        height: 100%;
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navButton {
            width: $unit-width-2;
            height: $unit-width-half;
            background-color: $battleship-grey;
            @include pixelBackground;
        }

        .navIcon {
            width: $unit-width-icon;
            height: $unit-width-icon;
            background-color: $battleship-grey;
            @include pixelBackground;
        }

    }
}
