@use "../../../app/variables" as *;

.button {
    width: 100%;
    height: 100%;
    line-height: $unit-width-half;
    background-color: $eggshell;
    box-shadow: $boxShadow;
    @include pixelBackground;
    display: flex;
    position: relative;
    justify-content: center;
    color: $black;
    transition: all;

    .line {
        width: $unit-width-quarter;
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        transition: width;
        transition-duration: 400ms;
        z-index: 2;
        
        .thickLine{
            width: 0.828vw;
            height: 100%;
            background-color: $walnut-brown;
            @include pixelBackground;
            transition: background-color;
        }
        
        .thinLine{
            width: 0.278vw;
            height: 100%;
            display:flex;
            flex-direction: column;
            transition: all;
            justify-content: center;

            .upperThinLine{
                background-color: $walnut-brown;
                width:100%;
                height: 50%;
                transition: all;
                transition-duration: 500ms;
            }

            .lowerThinLine{
                background-color: $walnut-brown;
                width:100%;
                height: 50%;
                transition: all;
                transition-duration: 400ms;
            }
        }
    }

    &:hover {
        background-color: $walnut-brown;
        color: $eggshell
    }

    &:hover .line {
        width: 95%;
        
        .thickLine {
            background-color: $eggshell;
        }

        .thinLine {
            
            .upperThinLine {
                background-color: $eggshell;
                // transform: rotate(-45deg) translateY(30%);
            }

            .lowerThinLine {
                background-color: $eggshell;
                // transform: rotate(45deg) translateY(-30%);
            }
        }
    }
}